<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>My planning</title>
</head>
<body>
     <h1>Adding your event</h1>
     
          <p th:text="${#temporals.formatISO(localDateTime)}"></p>
<p>On est en [[${dateYear}]]</p> 
     <form role="form" th:action="@{/adding an event}" method="POST">
          <input type="text" th:field="${slotOther.slotName}" placeholder="name" >
          <input th:field="${str}" type="text" placeholder="string">
          <input name="dateYear" type="text" placeholder="DateYear">
          <!-- <input th:field="*{#temporals.formatISO(localDateTime)}" type="text"> -->
          <input type="submit">
     </form> 
</body>
</html>
