<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
     <link rel="stylesheet" href="/css/style.css">
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <title>Car</title>
</head>
<body>
     <ul>
          <li data-th-each="my car(s) : ${carL}"> </li>

     </ul>
     <form th:action=@{/addcar} method="post" th:object="${addCar}">
          <input type="text" placeholder="color" th:field="*{color}"/>
          <input type="text" placeholder="brand" th:field="*{brand}"/>
          <input type="text" placeholder="registration" th:field="*{registration}"/>
          <input type="text" placeholder="format" th:field="*{Format}"/>
          <input type="text" placeholder="nb of seats" th:field="*{nbOfSeats}"/>
          <input type="submit" value="Valider">
      </form>
</body>
</html>
