<!DOCTYPE html>
<html lang="en" th:replace="~{menu :: baseLayout(~{::/html/head/content()}, ~{::/html/body/content()})}">
<head>
    <title>Profile</title>
</head>
<body>
    
    <p>Name [[${user.name}]]</p>
    <p>Firstname [[${user.firstname}]]</p>

    <form class="center" method="POST" th:action=@{/profile} >
        <h2 >Change password</h2>
        <h3 class="success" th:if="${param.success != null}" >Password has been changed</h3> 

        <input class="form-horizontal" type="password" name="password" placeholder="Password" required>
        <span class="error" th:if="${fail != null}" >Wrong Password</span> 

        <input class="form-horizontal" type="password" name="newPassword" placeholder="New Password" required>

        <input class="form-horizontal" type="submit">
        

    </form>

</body>
</html>