<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
     th:replace="~{menu :: baseLayout(~{::/html/head/content()}, ~{::/html/body/content()})}"
>
<head>
</head>
<body>
     <div id="demoMap" style="height: 500px; width: 1000px"></div>
     <form method="POST" action="/adding an travel">
          <input type="text" id="startLon" name="startLon" hidden>
          <input type="text" id="startLat" name="startLat" hidden>
          <input type="text" id="endLon" name="endLon" hidden>
          <input type="text" id="endLat" name="endLat" hidden>
          <input type="text" id="trajectName" name="trajectName" placeholder="Traject Name">
          <label>
               Start at :
               <input name="dayOfMonth" type="number" min="1" max="31"
                    th:value="${dateDayOfMonth}"
               >
               <input name="month" type="number" min="1" max="12"
                    th:value="${dateMonth}"
               >
               <input name="year" type="number" th:value="${dateYear}">
               <input name="hour" type="number" min="0" max="23"
                    th:value="${dateHour}"
               >
               <input name="minute" type="number" min="0" max="59"
                    th:value="${dateMinute}"
               >
          </label>
			<!-- <label>
			With car : 
			<select th:name="nbSeats">
                <option th:value="1" th:text="1"></option>
            </select>
			</label>-->
          <input type="submit">
     </form>
     <script src="/OpenLayers-2.13.1/OpenLayers.js"></script>
     <ul>
          <li data-th-each="point : ${list}" class="point" hidden>
               <a class="lon"> [[${point.longitude}]]</a>
               <a class="lat">[[${point.latitude}]]</a>
          </li>
     </ul>
     <label for="waysList">Choose a way:</label>
     <select id="waysList">
          <option th:each="way : ${ways}" th:value="${way.id}" th:text="${way.name}" >
	    </option>
     </select>
     <div>
          <ul>
               <li data-th-each="way,iter : ${ways}">
                    [[${way.name}]]
                    <ul>
                         <li data-th-each="point : ${way.points}"
                              th:id="${way.id}" class="wayPoints" hidden
                         >
                              <a class="lon"> [[${point.longitude}]]</a>
                              <a class="lat">[[${point.latitude}]]</a>
                         </li>
                    </ul>
               </li>
          </ul>
     </div>
     <script src="/js/travelManagement.js"></script>
</body>
</html>